<!DOCTYPE html>

<html lang="en" xmlns:th="http:/www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"> 
	
    <title>Update Password</title>  
    <!-- Custom styles for this template -->
	<link href="navbar-static.css" rel="stylesheet">
	<link href="sign-in" rel="stylesheet">	
	
	<script type="text/javascript">
		
		function checkPasswordMatch(fieldConfirmPassword) {
		    const newPassword = document.getElementById("newPassword").value;
		    if (fieldConfirmPassword.value !== newPassword) {
		        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
		    } else {
		        fieldConfirmPassword.setCustomValidity("");
		    }
		}
		
		function showPassword() {
			
			  var x = document.getElementById("password");
			  var y = document.getElementById("newPassword");
			  var z = document.getElementById("confirmpassword");
		  		  
			  if (x.type === "password") {
				  x.type = "text";
				  y.type = "text";
				  z.type = "text";
				  } else {
					  x.type = "password";
					  y.type = "password";
					  z.type = "password";
					}	
		}
	</script>
  </head>

	<nav class="navbar navbar-expand-md navbar-dark bg-success mb-4">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/user/listGoals"></a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>    
	    <div class="collapse navbar-collapse" id="navbarCollapse">
	      <ul class="navbar-nav me-auto mb-2 mb-md-0"> </ul>
	      <h6 class="text-white pt-3"><span sec:authentication="principal.fullName"></span></h6>
	      <form th:action="@{/logout}" method="post">
			<button class="btn btn-success" data-mdb-ripple-color="dark" type="submit"><i class="bi bi-box-arrow-left h2"></i></button>
	      </form>
	    </div>	    
	 </div>
	</nav>

<body id="body">
    <h2 align="center">Update Password</h2><br>
	<div class="row g-3">
		<div class="col-md-4"></div>
		<div class="col-md-4">
    		<form action="#" th:action="@{/updatePassword}" method="post">		
				<div th:if="${message}">
	       			<div class="alert alert-danger" th:text="${message}"></div>
	  			</div> 
				<div class="form-floating">
			        <input type="password" id="password" name="oldPassword" class="form-control" placeholder="Old Password" required autofocus />
		    	    <label for="password" class="form-label">Password</label>		
				</div>		
				<div class="form-floating">
		        	<input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" required />                
		        	<label for="password" class="form-label">New Password</label>		
				</div>	
				<div class="form-floating">
		        	<input type="password" id="confirmpassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required oninput="checkPasswordMatch(this)"/>
		        	<label for="password" class="form-label">Confirm new password</label>		
				</div>               
				<div class="form-check text-start my-3">	
				  	<input class="form-check-input" type="checkbox" onclick="showPassword()" id="flexCheckDefault">
			      	<label class="form-check-label" for="flexCheckDefault">Show Password</label>
			    </div>      
	 			<button class="btn btn-success w-100 py-2" type="submit" >Change Password</button><br>
	 		 	<p class="text-center"><a class="text-success" th:href="@{/login_success}">Cancel</a></p>	
				<small id="passwordHelpBlock" class="form-text text-muted">
		  		Your password must be 8-16 characters long, 
		  		contain letters and numbers, special characters 
		  		and must not contain spaces, or emoji.
				</small>
    		</form>
		</div>
		<div class="col-md-4"></div>
	</div>
</body>
</html>